# Number Methods

## 1. String to int, float conversion

In [8]:
x = "10"
print(type(x),x)

# converting string to int
inted = int(x)
print(type(inted), inted)

# converting to float
floated = float(x)
print(type(floated), floated)

<class 'str'> 10
<class 'int'> 10
<class 'float'> 10.0

## 2.Int to flaot, string

In [12]:
x1 = 100
print(type(x1), x1)

# Converting to flaot
x1_floated = float(x1)
print(type(x1_floated ), x1_floated )

# converting to String
x1_string = str(x1)
print(type(x1_string), x1_string)

<class 'int'> 100
<class 'float'> 100.0
<class 'str'> 100

## 3.flaot to int and string

In [16]:
x2 = 10.25
print(type(x2), x2)


# converting to int
x2_inted = int(x2)
print(type(x2_inted), x2_inted)

# converting to string

x2_stringed = str(x2)
print(type(x2_stringed), x2_stringed)

<class 'float'> 10.25
<class 'int'> 10
<class 'str'> 10.25

## 4. abs() : return absolute value

In [22]:
z1 = -101

print(z1) # -101
print(abs(z1)) # 101

-101
101

## 5. pow() : return power of a number

In [ ]:
num1 = 5
print(pow(num1,2)) # num , power  5x5 = 25

25